extends ./layout

block body
	h2= obj.texto
	hr(style="height: 0;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #b80813;width:50%")
	
	br
	br

	a(href=obj.url, style="background-color: #3a4dc7; color: #fff; cursor: pointer; height: 36px; padding: 6px 12px;") Ir al Self Service