extends ./layout

block body
  strong(style='font-size: 16px; width: 500px;')
    | Recientemente ha solicitado compartir la hoja  de ruta numero #{obj.numero_doc}
  form(style=`margin-top: 10px;background: #fff;padding: 25px; border-radius: 6px;width: 500px;border: 2px solid  ${obj.color};`)
    div(style="width:35%;display:inline-block;font-weight:bold;vertical-align: top; padding-bottom: 9px;text-align: initial;") Numero
    div(style="width:35%;display:inline-block")
      span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.numero_doc
    div(style="width:35%;display:inline-block;font-weight:bold;vertitext-transform: uppercase;cal-align: top; padding-bottom: 9px;text-align: initial") Cliente
    div(style="width:35%;display:inline-block")
      span(style="display:block;font-size: 12px;text-align: initial;text-transform: uppercase;")= obj.cliente